<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Like icons created by Freepik -->
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="512x512" href="images/favicon-512x512.png">
  <link rel="stylesheet" href="styles/global.css">
  <title>Twitchu</title>
</head>
<body>
  <main class="display-flex align-items-center">
    <div>
      <h1>Welcome to Twitchu</h1>
      <h3>Connect, upload and share.</h3>
      <a href="/signin" class="button padding-y">Sign in</a>
      <a href="/signup" class="button padding-y">Sign up</a>
    </div>
  </main>
</body>
</html>
