<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Like icons created by Freepik -->
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="512x512" href="images/favicon-512x512.png">
  <link rel="stylesheet" href="styles/common.css">
  <title>Twitchu</title>
</head>
<body>
  <h1>Welcome to Twitchu!</h1>
  <a href="/signin">Sign in</a>
  <a href="/signup">Sign up</a>
</body>
</html>
